.btn {
    width: auto;
    height: auto;
    border-radius: 5px;
    color: white;
    border-style: none;
    padding: 10px;
    margin: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: #5699fe;
}

.btn-primary{
    background-color: #0d6efd;
}